/*Header fix*/
#day {
    font-size: 20px;
    margin: 80px 0 10px 10px;
    color: #6b6b6b !important;
}

.list-group {
    height: calc(100% - 190px);
    margin-bottom: 80px;
    overflow-y: scroll;
}

.list-group-item {
    border-radius: 0 !important;
}

    /*Margin fix*/
    .list-group-item p {
        margin-bottom: 5px !important;
    }

.timecontainer {
    display: flex;
    justify-content: flex-start;
    align-items: center;
}
    /*Margin fix*/
    .timecontainer h4 {
        margin: 0 0 0 5px !important;
    }

.badge {
    position: absolute;
    top: 10px;
    right: 8px;
    background: none !important;
    color: #333;
    font-size: 20px !important;
}

    .badge:hover {
        color: #3EACA8 !important;
    }

.list-group-item a:first-of-type {
    right: 30px !important;
}

.popover {
    z-index: 999999999 !important;
}

.switchadder, .addadder {
    height: 80px !important;
    border: none !important;
    border-radius: 0 !important;
    background-color: #3EACA8 !important;
    position: fixed;
    bottom: 0;
    font-size: 20px;
}

.slidercontainer {
    height: auto;
    padding: 10px;
    display: flex;
    align-items: center;
    justify-content: space-around;
}

    .slidercontainer input {
        height: 40px;
        width: 70px;
    }

.switchbox i {
    margin: 10px;
    color: #6b6b6b;
}
.control-label {
    font-size: 16px !important;
    font-weight: 500 !important;
    color: #6b6b6b !important;
    margin: 10px !important;
}
.form-control {
    width: 150px !important;
    margin: 0 20px !important;
    font-size: 36px !important
}

.error1, .error2, .error3, .error4 {
    display: none;
    margin-left: 10px;
}

.error1.show, .error2.show, .error3.show, .error4.show {
    display: block;
    color: red;
    margin-left: 10px;
}