body {
    width: 100vw;
    height: 100vh;
    background: white;
    overflow: hidden;
    /*Font override*/
    font-family: 'Roboto', sans-serif !important;
    color: #444444;
    position: relative;
}

.container-fluid {
    height: 100%;
    padding: 0 !important;
    position: relative;
}

.no-js #loader {
    display: none;
}

.js #loader {
    display: block;
    position: absolute;
    left: 100px;
    top: 0;
}

.se-pre-con {
    position: fixed;
    left: 0px;
    top: 0px;
    width: 100%;
    height: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    z-index: 99999999999;
    background: white;
}
.se-pre-con img {
    height: 200px;
}


/*----------------------------------------------------------------------------------------------------------------------------------------------------------------*/
/*-- Header --*/

.header {
    height: 60px;
    background-color: #547A82;
    box-shadow: 1px 1px 8px #bababa;
    display: flex;
    align-items: center;
    justify-content: center;
    color: white;
    font-size: 18px;
    z-index: 100000;
}

    .header .material-icons {
        color: white;
    }

    .header .col-xs-3 {
        display: flex;
        align-items: center;
        justify-content: center;
        flex-direction: column;
        font-size: 11px;
    }

    /*Delete bottom margin*/
    .header p {
        margin: 0 !important;
    }
