/*Header fix*/
.list-group {
    height: calc(100% - 110px);
    margin: 60px 0 0 0;
    overflow-y: scroll;
}

.list-group-item {
    font-size: 14px;
}

    .list-group-item h3 {
        margin-top: 0 !important;
        color: #6b6b6b !important;
    }

.removeremover {
    height: 55px !important;
    border-radius: 0 !important;
}