/*Header fix*/
.list-group {
    height: calc(100% - 60px);
    margin-top: 60px;
}

.list-group-item {
    font-size: 14px;
}

    .list-group-item div {
        border: 1px solid red;
        height: 30px;
    }
